@model IEnumerable<GreatestMovies.Models.Actor>

@{
    ViewBag.Title = "Index";
}

<h1 id="actorPageNameText">ACTORS</h1>

<p class="createNewButton">
    @Html.ActionLink("Create New", "Create", null, new { @class = "hyperLink" })
</p>

@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ActorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DOB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nationality)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th></th>
    </tr>
</table>*@
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4">

                <div class="actorBackground">
                        <h1 id="actorHeaderText">
                            @Html.DisplayFor(modelItem => item.ActorName)
                        </h1>
                 </div>

                <h4 id="actorSubText" style="color: #C519D4;">
                    Born on:
                </h4>

                <h4 id="actorSubText">
                    @Html.DisplayFor(modelItem => item.DOB)
                </h4>

                <h4 id="actorSubText" style="color: #C519D4;">
                    Nationality:
                </h4>

                <h4 id="actorSubText">
                    @Html.DisplayFor(modelItem => item.Nationality)
                </h4>

                <h4 id="actorSubText" style="color: #C519D4;">
                    Gender:
                </h4>

                <h4 id="actorSubText">
                    @Html.DisplayFor(modelItem => item.Gender)
                </h4>
                <p>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ActorID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ActorID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ActorID })
                </p>
            </div>
        }
   </div>